<div class="column has-text-centered">
  <h1 class="title is-info"><a href="/dashboard">Your Projects</a></h1><br>
</div>

{{#if projects.length}}


{{#each projects as |project|}}
<span>
  <a href="/projects/{{id}}">{{title}}</a>
</span>
<span>Raised ${{donation_total}} / ${{fund_needed}}</span>
<a href="/dashboard/edit/{{project.id}}"><button class="edit-button">Edit project</button></a>

{{/each}}

{{else}}
<h4>You currently do not have any projects</h4>

{{/if}}
</body>

<footer class="footer">
  <a href="/projects/create">New project</a>
</footer>
</body>

<script src="javascript/logout.js"></script>

</html>