<div>
    {{#each projects as |project|}}
    <div class="project project-list">
        <h2><a href="/projects/{{id}}">{{title}}</a></h2>
        Posted by <b>{{user.name}}</b>
        | {{format_date created_at}} | <a href="/projects/{{id}}">{{comments.length}} {{format_plural "comment"
            comments.length}}</a>
        <h4>{{description}}</h4>
        <br>
    </div>
    {{else}}
    <h6>No current projects</h6>
    {{/each}}
</div>