<div class="columns">
  <h3>Open Projects</h3>
</div>
{{#each projects as |project| }}
<div class="columns project">
  <div class="column">
    <h2>
      <a href="/projects/{{project.id}}">{{project.title}}</a>
    </h2>
    <p>
      <span>Raised ${{project.donation_total}} / ${{project.fund_needed}}</span>
    </p>
    <p>Created by {{project.user.name}} on {{format_date project.created_at}}</p>
  </div>
  <div class="column">
    <p>
      {{project.description}}
    </p>
  </div>
</div>
{{/each}}